body {
  display: none;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  cursor: wait;
}
#csv {
  border: 1px solid lightgray;
  background-color: #fff;
  font-size: 12px;
}
.expand {
  position: absolute;
  background: transparent;
  z-index: 10;
  right: 1px;
  top: 1px;
  padding-top: 2px;
  padding-right: 2px;
  cursor: pointer;
  stroke: gray;
}
.expand:hover {
  stroke: black;
}
.labels {
  height: 100%;
  width: 20px;
  line-height: 0.8rem;
  overflow-y: hidden;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  cursor: ns-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
}
.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
.CodeMirror {
  border: 1px solid lightgray;
  height: 100%;
  font-size: 12px;
}
.cm-jfx-header {
  font-weight: bold;
}
