* {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
html {
  font-size: 14px;
}
html, body {
  height: 100%;
}
svg {
  display: inline-block;
  vertical-align: middle;
}
.expand svg {
  vertical-align: top;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -55px;
  background-color: #eee;
}
#header {
  padding: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  background-color: #eee;
}
#main {
  padding-bottom: 30px;
}
#content {
  min-height: 125px;
}
#push, #footer {
  height: 15px;
}
.btn:focus, .btn:active:focus {
  outline: none !important;
  box-shadow: none !important;
}
