div#status {
  min-height: 100%;
  height: 100%;
  margin: 0px;
}
div.wait {
  cursor: wait;
}
textarea.output {
  font-size: 12px;
  background: #fff;
  height: 100%;
  border: 1px solid lightgray;
  width: 100%;
  overflow-y: auto;
  resize: none;
  padding: 8px;
  outline: none;
}
iframe.output {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
#olinks {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#olinks::-webkit-scrollbar {
  width: 0px;
}
