div#status {
  min-height: 100%;
  height: 100%;
  margin: 0px;
}
textarea.output {
  font-size: 12px;
  background: #fff;
  height: 100%;
  border: 1px solid lightgray;
  width: 100%;
  overflow-y: auto;
  resize: none;
  padding: 8px;
  outline: none;
}
iframe.output {
  background-color: transparent;
  border: 0px none transparent;
  padding: 0px;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.ms-10 {
  margin-left: 10px;
}
.me-10 {
  margin-right: 10px;
}
.fs-85 {
  font-size: 85%;
}
.nosb {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.nosb::-webkit-scrollbar {
  width: 0px;
}
