body {
  display: none;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  cursor: wait;
}
#csv {
  border: 1px solid lightgray;
  white-space: nowrap;
  background-color: #fff;
  font-size: 12px;
  overflow: auto;
  width: auto;
  height: 100%;
  display: none;
}
#csv th {
  border: 1px solid darkgray;
  background-color: lightgray;
}
#csv td {
  border: 1px dashed darkgray;
}
#csv th:first-child {
  border-left: none;
}
#csv th:last-child {
  border-right: none;
}
#csv td:first-child {
  border-left: none;
}
#csv td:last-child {
  border-right: none;
}
.mw-150 {
  min-width: 150px;
}
.me-10 {
  margin-right: 10px;
}
.caret-off::after {
  display: none !important;
}
.btn-curved {
  border-top-left-radius: 0.3rem !important;
  border-bottom-left-radius: 0.3rem !important;
}
.expand {
  position: absolute;
  background: #fff;
  z-index: 2;
  right: 2px;
  top: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  cursor: pointer;
  stroke: gray;
}
.expand:hover {
  stroke: black;
}
.labels {
  height: 100%;
  width: 20px;
  line-height: 0.8rem;
  overflow-y: hidden;
}
.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-vertical {
  cursor: ns-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}
.CodeMirror {
  border: 1px solid lightgray;
  height: 100%;
  font-size: 12px;
}
.CodeMirror-foldmarker {
  color: blue;
  cursor: pointer;
}
.CodeMirror-foldgutter-open::after {
  content: "\2190";
  color: blue;
}
.CodeMirror-foldgutter-folded::after {
  content: "\2192";
  color: blue;
}
.cm-trailingspace::after {
  color: steelblue;
  content: '$';
}
.cm-jfx-header {
  font-weight: bold;
}
.cm-jfx-invalid {
  background: red;
}
